@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('//ckwnal0723.cafe24.com/font/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
li{ cursor: pointer;}
*::selection{ background-color: #ccfff5;}
#body .contain{ margin: 0 auto; padding: 0 10vw;}
#intro{
    font-family: 'NeoDunggeunmoPro-Regular'; font-style: normal; letter-spacing: -0.065em;
    height: 100vh; background-image: url('/mypofol/img/back.png'); background-repeat: no-repeat; background-size: cover; background-position-x: 6rem;
}

#hdTop{
    transform: translateX( -3rem);
    .folderBox{
            a{ transform: translateX( 2.75rem);}
            li{background-image: url('/mypofol/img/folder_01.svg'); height: 0; padding-top: 55%; background-position: left top; background-repeat: no-repeat; cursor: pointer;}
            li:hover{ background-image: url('/mypofol/img/folder_02.svg'); height: 0; padding-top: 55%; background-position: left top; background-repeat: no-repeat; cursor: pointer;}
    }
    .power{
        background-image: url('/mypofol/img/power.svg'); height: 0; padding-top: 17%; background-position: center; background-repeat: no-repeat;
    }
    .clickPage{
        background-image: url('/mypofol/img/clickP.svg'); height: 0; padding-top: 30%; background-position: center; background-repeat: no-repeat;
    }
    .noneClick{
        background-image: url('/mypofol/img/noneclickP.svg'); height: 0; padding-top: 30%; background-position: center; background-repeat: no-repeat;
    }
    .note{
        background-image: url('/mypofol/img/book.svg'); height: 0; padding-top: 30%; background-position: center; background-repeat: no-repeat;
    }
    .memo{
        background-image: url('/mypofol/img/text.svg'); height: 0; padding-top: 30%; background-position: center; background-repeat: no-repeat;
    }
}

#hdBottom{
    .heart{
        background-image: url('/mypofol/img/heart.svg'); height: 0; padding-top: 16%; background-position: left top; transform: translate( -9rem, 8rem); background-repeat: no-repeat;
    }
    .selfi0{
        background-image: url('/mypofol/img/selfi_01.png'); height: 0; padding-top: 10%; bottom: 0; background-position: left bottom; background-repeat: no-repeat;
    }
}

#play{
    .playText{ font-size: 1.3rem;}
    .playTop{ border: 1px solid #222; border-radius: 25px 25px 0 0; background-color: #BA98F6; width: 100%; height: 2rem;}
    .windowButton{
        .underBar{ width: 1.2rem; border-bottom: 2px solid #222;}
        .sizeBox{ width: 1rem; border: 2px solid #222; border-top: 5px solid #222; height: 1rem;}
        .windowClose { position:relative; width: 1rem;}
        .windowClose:before, .windowClose:after {position: absolute; content: " "; height: 1.2rem; width: 2px; background-color: #222; left: 50%; bottom: -1.8px;}
        .windowClose:before {transform: rotate(45deg);}
        .windowClose:after {transform: rotate(-45deg);}    
    }
    .playContent{
        width: 100%; height: 80vh; border: 1px solid #222; border-top: 0; border-radius: 0 0 25px 25px; background-color: #FFFFED;
        .gif{ width: 100%; height: 45vh; border: 1px solid #222; background-color: #eee; border-radius: 10px;}
        .playInfo{
            .playTitle{ font-size: 1.5rem;}
            .playBar{
                width: 100%; border-bottom: 1px solid #222;
                .button{ width: 0.8rem; height: 0.8rem; transform: translate( 850%, -50%); background-color: #BA98F6;}
                & + div span{ font-family: "IBM Plex Sans KR"; font-size: 1rem;}
            }
        }
    }
}