body * {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  font-family: "Galmuri9";
  line-height: 1;
}

body {
  overflow-x: hidden;
}

a, a:hover {
  color: #222;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.contain {
  max-width: 1440px;
}

#intro {
  width: 100%;
  height: 100vh;
  background-image: url("../img/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 5rem;
}
#intro .inleft a strong {
  font-size: 1rem;
}
#intro .inleft .major {
  transform: translateX(-2rem);
}
#intro .inleft .folder-img {
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("../img/folder_01.svg");
}
#intro .inleft .folderSize {
  display: block;
  height: 0;
  padding-top: 77%;
}
#intro .inleft .folder-img:hover {
  background-image: url("../img/folder_02.svg");
}
#intro .inleft .dolphin .dolphin-img {
  background-image: url("../img/dolphin.png");
  background-repeat: no-repeat;
  background-position: left center;
  left: 0;
  top: 0;
  background-size: auto 100%;
  width: 20vw;
  height: 0;
  padding-top: 130%;
  z-index: 1;
  -webkit-animation-name: dolphin;
          animation-name: dolphin;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@-webkit-keyframes dolphin {
  from {
    transform: scaleX(-1) translate(7rem, 2rem) rotate(-30deg);
  }
  to {
    transform: scaleX(-1) translate(6rem, 6rem) rotate(-15deg);
  }
}
@keyframes dolphin {
  from {
    transform: scaleX(-1) translate(7rem, 2rem) rotate(-30deg);
  }
  to {
    transform: scaleX(-1) translate(6rem, 6rem) rotate(-15deg);
  }
}
#intro .inleft .power {
  background-image: url("../img/power.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 0;
  padding-top: 45%;
}
#intro .inleft .start {
  background-image: url("../img/start.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 0;
  padding-top: 51%;
  margin-top: 1.8rem;
}
#intro .inleft .wave0 {
  background-image: url("../img/line.svg");
  background-repeat: no-repeat;
  height: 0;
  padding-top: 35%;
  transform: translate(4rem, 2rem);
}
#intro .inleft .wave1 {
  background-image: url("../img/line.svg");
  background-repeat: no-repeat;
  height: 0;
  padding-top: 35%;
  transform: translate(-3rem, 7rem);
}
#intro .inleft .bluetang .bluetang0 {
  background-image: url("../img/bluetang.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left top;
  width: 100%;
  left: 0;
  top: 0;
  height: 5rem;
  transform: translate(-2.5rem, 1rem) scaleX(-1) rotate(-20deg);
}
#intro .inleft .bluetang .bluetang1 {
  background-image: url("../img/bluetang.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left top;
  width: 100%;
  height: 0;
  padding-top: 3.5rem;
  transform: translate(2rem, 7rem) scaleX(-1) rotate(-20deg);
}
#intro .inleft .clownfish {
  background-image: url("../img/clownfish.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left top;
  width: 100%;
  height: 0;
  padding-top: 25%;
  z-index: 1;
  transform: translate(4rem, 10rem);
}
#intro .inleft .seaanemone {
  background-image: url("../img/seaanemone.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left top;
  width: 100%;
  height: 0;
  padding-top: 35%;
  transform: translateY(9rem);
}
#intro .incenter .play {
  width: 100%;
  height: 70vh;
}
#intro .incenter p {
  font-size: 0.8rem;
  transform: translateY(3rem);
}

.heart {
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: left top;
  transform: translateY(-50%);
  width: 5vw;
  padding-top: 5%;
  top: 50%;
  left: 1rem;
}

.selfi0 {
  background-image: url("../img/selfi_01.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: auto 100%;
  bottom: 0;
  left: 2rem;
  width: 20vw;
  height: 0;
  padding-top: 20%;
  z-index: 2;
}

.navi {
  background-image: url(../img/navi.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left top;
  left: 30vw;
  bottom: 0;
  height: 0;
  width: 10vw;
  padding-top: 5%;
  -webkit-animation-name: navi;
          animation-name: navi;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes navi {
  0% {
    margin-left: 0;
    transform: translateY(-4vh) rotate(27deg);
  }
  10% {
    transform: translateY(-10vh) rotate(27deg);
  }
  20% {
    transform: translateY(-4vh) rotate(27deg);
  }
  30% {
    transform: translateY(-10vh) rotate(27deg);
  }
  40% {
    transform: translateY(-4vh) rotate(27deg);
  }
  50% {
    margin-left: 59%;
    transform: translateY(-10vh) rotate(27deg);
  }
  51% {
    margin-left: 60%;
    transform: scaleX(-1) translateY(-10vh) rotate(27deg);
  }
  60% {
    transform: scaleX(-1) translateY(-4vh) rotate(27deg);
  }
  70% {
    transform: scaleX(-1) translateY(-10vh) rotate(27deg);
  }
  80% {
    transform: scaleX(-1) translateY(-4vh) rotate(27deg);
  }
  90% {
    transform: scaleX(-1) translateY(-10vh) rotate(27deg);
  }
  99% {
    margin-left: 0;
    transform: scaleX(-1) translateY(-4vh) rotate(27deg);
  }
  100% {
    transform: scaleX(0) translateY(-4vh) rotate(27deg);
    margin-left: 0;
  }
}

@keyframes navi {
  0% {
    margin-left: 0;
    transform: translateY(-4vh) rotate(27deg);
  }
  10% {
    transform: translateY(-10vh) rotate(27deg);
  }
  20% {
    transform: translateY(-4vh) rotate(27deg);
  }
  30% {
    transform: translateY(-10vh) rotate(27deg);
  }
  40% {
    transform: translateY(-4vh) rotate(27deg);
  }
  50% {
    margin-left: 59%;
    transform: translateY(-10vh) rotate(27deg);
  }
  51% {
    margin-left: 60%;
    transform: scaleX(-1) translateY(-10vh) rotate(27deg);
  }
  60% {
    transform: scaleX(-1) translateY(-4vh) rotate(27deg);
  }
  70% {
    transform: scaleX(-1) translateY(-10vh) rotate(27deg);
  }
  80% {
    transform: scaleX(-1) translateY(-4vh) rotate(27deg);
  }
  90% {
    transform: scaleX(-1) translateY(-10vh) rotate(27deg);
  }
  99% {
    margin-left: 0;
    transform: scaleX(-1) translateY(-4vh) rotate(27deg);
  }
  100% {
    transform: scaleX(0) translateY(-4vh) rotate(27deg);
    margin-left: 0;
  }
}/*# sourceMappingURL=intro.css.map */